 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 /* shared styles */
 * {
     margin: 0;
     padding: 0;

 }

 body {
     font-family: "Poppins", sans-serif;
     font-style: normal;
 }

 .display-flex {
     display: flex;
 }


 nav {
     justify-content: space-between;
     align-items: center;
     margin: 0 120px;
     margin-top: 66px;
 }

 nav h3 {
     font-size: 1.5rem;
     font-weight: 700;
 }

 nav .link-container {
     justify-content: space-between;
     align-items: center;
     gap: 20px;
 }

 nav li {
     list-style: none;
 }

 nav li>a {
     text-decoration: none;
     font-size: .92rem;
     font-weight: 600;
     color: #3A3A3A;
 }

 /* journey section */
 .journey-container {
     justify-content: space-between;
     align-items: center;
     margin: 0 120px;
     padding-bottom: 30px;
 }

 .journey-container influencers-heading {
     color: #3A3A3A;
     font-size: 3.2rem;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
 }

 .influencers p {
     color: #3A3A3A;
     font-size: .7rem;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     margin: 15px 0;

 }

 .influencers button {
     border-radius: 41px;
     background: #E02C6D;
     padding: 10px 24px;
     border: none;
 }

 .btn-pr span {
     color: #FFF;
     font-size: .9rem;
     font-style: normal;
     font-weight: 500;

 }

 .img-bg {
     margin-top: 70px;
     margin-right: 30px;
     background: url(../images/Circle\ design.svg);
 }

 .img-bg img {
     width: 100%;
 }

 .logos .img-container {
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     margin: 50px 165px;
 }

 /* collection section */

 .card-heading {
     text-align: center;
     margin: 30px 0;
     color: #3A3A3A;
     font-size: 1.4rem;
     font-style: normal;
     font-weight: 500;
     line-height: 70px;

 }

 .collection {
     margin: 40px 190px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     /* control space here */
     padding: 0;
     margin-bottom: 80px;
 }



 .card {
     width: 87%;
     height: 520px;
     border-radius: 15px;
     background: #FFF;
     box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
     padding: 14px 0;
     padding-left: 14px;
     margin-bottom: 15px;
 }

 .card img {
     width: 95%;
 }

 .card h3 {
     color: var(--Text-Gray-900, #18191F);
     font-size: 1.6rem;
     font-weight: 500;
     line-height: 40px;
     margin: 10px 0;
 }

 .card h4 {
     color: var(--Text-Gray-900, #18191F);
     font-size: 1.6rem;
     font-weight: 500;
     line-height: 40px;
     margin-bottom: 15px;

 }

 .card h5 {
     color: var(--gray-80, #5E6366);
     font-family: Roboto;
     font-size: .9rem;
     font-weight: 700;
     line-height: 22px;
     letter-spacing: 0.1px;
 }

 .card p {
     color: var(--Gray-50, #787885);
     font-family: Inter;
     font-size: .9rem;
     font-style: normal;
     font-weight: 700;
     line-height: 143%;
     letter-spacing: 0.252px;
 }

 /* feature section */
 .feature-cnt {
     margin: 30px 165px;
     gap: 120px;
     padding-top: 80px;
     margin-left: 240px;
 }

 .featured-product h2 {
     color: #0A0826;
     font-size: 2.2rem;
     font-weight: 700;
     line-height: 60px;
 }

 .featured-product p {
     color: #6C6C6C;
     font-size: 1rem;
     font-weight: 600;
     line-height: 28px;
     margin: 20px 0;
 }

 .featured-product button {
     border-radius: 41px;
     background: #E02C6D;
     padding: 10px 24px;
     border: none;
 }

 .featured-product span {
     color: #FFF;
     font-size: .9rem;
     font-style: normal;
     font-weight: 500;
 }

 /* footer */
 footer {
     background-color: #0A0826;
     margin-top: 100px;
 }

 .footer-content {
     padding: 60px 0;
     text-align: center;
 }

 .footer-content h2 {
     color: #FFF;
     font-size: 1.5rem;
     font-weight: 700;
     margin: 10px 0;

 }
 .footer-content p{
    color: var(--Text-Gray-300, #D9DBE1);
font-family: Manrope;
font-size: .9rem;
font-weight: 700;
line-height: 24px; 
 }

 @media screen and (max-width:764px) {

     nav,
     .journey-container,
     .link-container {
         flex-direction: column;
     }

     nav {
         margin: 0;
         margin-top: 60px;
     }

     .journey-container {
         margin: 10px;
         flex-direction: column-reverse;
     }

     .influencers {
         text-align: center;
         margin: 20px 0;
     }

     .logos .img-container {
         grid-template-columns: repeat(3, 1fr);
         margin: 0;
         padding-left: 15px;
     }

     .collection {
         margin: 0;
         grid-template-columns: repeat(1, 1fr);
         padding: 0;
     }

     .card {
         width: 95%;
     }
     .feature-cnt{
        flex-direction: column-reverse;
        margin: 5px 29px;
     }
     .btn-text{
        text-align: center;
     }
 }